<link rel="stylesheet" href="success.css">
<title>UnSlackd</title>
<body>
  <div class = "center">
      <h1 class="pagetitle">You've added UnSlackd to your workspace!</h1>
  </div>
  <div class="center">
    <h2>To use UnSlackd, simply type "/beer" and then search for beers</h2>
    <img id="slashCommand" src = "../../assets/slashcommand.png">
    <h2>Then, select the beer you want to share</h2>
    <img id="searchResult" src = "../../assets/searchResult.png">
    <h2>If your beer isn't there, you can keep looking!</h2>
    <img id="nextSearch" src = "../../assets/nextSearch.png">
  </div>
</body>